{% extends "posts/post_base.html" %}

{% block post_content %}
<div class="col-md-8">
  <h1>TESTING</h1>
  {% include "posts/_post.html" %}
</div>

<div class="container">
  {% for comment in post.comments.all %}
    <br>
    {% if user.is_authenticated or comment.approved_comment %}
      {{comment.created_date}}
        {% if not comment.approved_comment %}
          <a class='btn btn-secondary' href="{% url 'comment_remove' pk=comment.pk %}">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
          <a class='btn btn-secondary' href="{% url 'comment_approve' pk=comment.pk %}">
            <i class="fa fa-check" aria-hidden="true"></i>
          </a>
        {% endif %}

        <p>{{comment.text|safe|linebreaks}}</p>
        <p>Posted by: {{comment.author}}</p> #### NEED TO MAKE A VIEW

    {% endif %}
    {% empty %}
    <p>No Comments</p>
  {% endfor %}

</div>

{% endblock %}
